In [7]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np

data = np.array(['apple', 'mangga', 'jeruk', 'apple', 'nenas']).reshape(-1, 1)
df_data = pd.DataFrame(data)
df_data

        0
0   apple
1  mangga
2   jeruk
3   apple
4   nenas

In [8]:
encoder = OneHotEncoder(sparse_output=False)
encoded_data = encoder.fit_transform(data)
encoded_data

array([[1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.]])

In [9]:
column = encoder.get_feature_names_out(['fruits'])
df = pd.DataFrame(encoded_data, columns=column)
df

   fruits_apple  fruits_jeruk  fruits_mangga  fruits_nenas
0           1.0           0.0            0.0           0.0
1           0.0           0.0            1.0           0.0
2           0.0           1.0            0.0           0.0
3           1.0           0.0            0.0           0.0
4           0.0           0.0            0.0           1.0