### HANDLING MISSING VALUE
Missing value can be handled by removing the feature or that instances contain missing value or imputing that missing values.

#### 1A. MEAN STRATEGY

In [86]:
# Simple Imputer -> using basic statistics (mean, median or modulus)
from sklearn.impute import SimpleImputer
import pandas as pd
import numpy as np

imputer = SimpleImputer(strategy='mean')

X = [[np.nan, 9, np.nan], [3, 9, 2], [1, 3, np.nan], [np.nan,np.nan , 2]]
df = pd.DataFrame(X)
df

     0    1    2
0  NaN  9.0  NaN
1  3.0  9.0  2.0
2  1.0  3.0  NaN
3  NaN  NaN  2.0

In [87]:
imputing = imputer.fit_transform(X)
new_df = pd.DataFrame(imputing)
new_df

     0    1    2
0  2.0  9.0  2.0
1  3.0  9.0  2.0
2  1.0  3.0  2.0
3  2.0  7.0  2.0

#### 1B. MEDIAN STRATEGY

In [88]:
imputer1 = SimpleImputer(strategy='median')
imputing1 = imputer1.fit_transform(X)
new_df1 = pd.DataFrame(imputing1)
new_df1

     0    1    2
0  2.0  9.0  2.0
1  3.0  9.0  2.0
2  1.0  3.0  2.0
3  2.0  9.0  2.0

In [89]:
imputer2 = SimpleImputer(strategy='most_frequent')
imputing2 = imputer2.fit_transform(X)
new_df2 = pd.DataFrame(imputing2)
new_df2

     0    1    2
0  1.0  9.0  2.0
1  3.0  9.0  2.0
2  1.0  3.0  2.0
3  1.0  9.0  2.0