### HANDLING MISSING VALUE
Missing value can be handled by removing the feature or that instances contain missing value or imputing that missing values.

In [13]:
# KNN Imputer -> imputes the missing values by using the mean value of the k-nearest neighbors that have a value for the missing feature

from sklearn.impute import KNNImputer
import pandas as pd
import numpy as np
imputer = KNNImputer(n_neighbors=2)

X = [[np.nan, 9, np.nan], [3, 9, 2], [1, 3, np.nan], [np.nan,np.nan , 2]]
df = pd.DataFrame(X)
df

     0    1    2
0  NaN  9.0  NaN
1  3.0  9.0  2.0
2  1.0  3.0  NaN
3  NaN  NaN  2.0

In [14]:
imputing = imputer.fit_transform(X)
new_df = pd.DataFrame(imputing)
new_df

     0    1    2
0  2.0  9.0  2.0
1  3.0  9.0  2.0
2  1.0  3.0  2.0
3  2.0  9.0  2.0